@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #ff6710;
  --accent-30: #cb4e06;
  --accent-70: #ff7e34;
  --scrollbar: #c0c0c0;
}

[class='dark'] {
  --accent: #ff6710;
  --accent-30: #cb4e06;
  --accent-70: #ff7e34;
  --scrollbar: #2b2b2b;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
  user-select: none;
  cursor: default;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

svg {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* Scrollbar for WebKit (Chrome, Safari) */

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: var(--text) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes appear {
  from {
    transform: translate(0, 150px);
  }
  to {
    transform: translate(0, 0);
  }
}
